body:has(.blue-mode:checked) {
  background-color: #0065a4;
  color: #ffffff;
}

body:has(.blue-mode:checked) h1 {
  color: #ffffff;
}

body:has(.blue-mode:checked) .textInput,
body:has(.blue-mode:checked) .textInput::placeholder,
body:has(.blue-mode:checked) .textInput:focus-visible {
  color: #ffffff;
}

body:has(.blue-mode:checked) .warning {
  color: #ffffff;
}

body:has(.blue-mode:checked) .warning img {
  filter: invert(1);
}

body:has(.blue-mode:checked) .btnPrimary {
  background: #ffffff;
  color: #0065a4;
}

body:has(.blue-mode:checked) .btnSecundary {
  border-color: #ffffff;
  color: #ffffff;
}

body:has(.blue-mode:checked) .resultBox {
  background: #13557e;
  box-shadow: 0px 24px 32px -8px rgba(255, 255, 255, 0.08);
}

body:has(.blue-mode:checked) #result:empty::before {
  color: #ffffff;
}

body:has(.blue-mode:checked) #result:empty::after {
  color: #ffffff;
}
